@font-face {
    font-family: 'quicksandlight';
    src: url('../img/font/quicksand-light-webfont.eot');
    src: url('../img/font/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/font/quicksand-light-webfont.woff2') format('woff2'),
         url('../img/font/quicksand-light-webfont.woff') format('woff'),
         url('../img/font/quicksand-light-webfont.ttf') format('truetype'),
         url('../img/font/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GLOBAL DECLARATIONS
**********************************/
html
{
    font-size: 1rem;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;


    background-color: #fff;
}
main 
{
  height: 100%;
  width: 100%;
}
a 
{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding; 0;
}
img
{
  max-width: 45%;
  height: auto;
  margin: 2.5%;
  display: block;
  float: left;
  border: 0.0625rem solid #2C2F36;
}

/*  TYPOGRAPHY DECLARATIONS
**********************************/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway";
  text-align: center;
  line-height: 1rem;
  font-style: bold;
}
h1 + h3 
{
  font-family: "Raleway";
  font-weight: 400;
}
h1 {
  color: #F8834E;
}
h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  padding: 3.125rem 0 30px;
  margin-top: 1.563rem;
  margin-bottom: 0.625rem;
  font-weight: lighter;
}
h3 {
  font-size: 0.875rem;
  color: gray;
  letter-spacing: 0.0625rem;
}
h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
p {
  text-align: left;
  color: #2C2F36;
}
/* LANDING PAGE DECLARATIONS
**********************************/
main.landing-content {
  background: #2C2f36 url('../img/longroad.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;

  -webkit-animation: cssAnimation 45s ease;
     -moz-animation: cssAnimation 45s ease;
       -o-animation: cssAnimation 45s ease;
}

  @-webkit-keyframes cssAnimation {
    0% { -webkit-transform: scale(4.25) translateX(90px); }
    20% { -webkit-transform: translateX(0);}
    100% { -webkit-transform: scale(1); }
  }

  @-moz-keyframes cssAnimation {
    0% { -webkit-transform: scale(4.25) translateX(90px); }
    20% { -webkit-transform: translateX(0);}
    100% { -webkit-transform: scale(1); }
  }
  
  @-o-keyframes cssAnimation {
   0% { -webkit-transform: scale(4.25) translateX(90px); }
    20% { -webkit-transform: translateX(0);}
    100% { -webkit-transform: scale(1); }
  }

.landing-content {
  background-color: #2c2f36;
  opacity: 1;
  height: 100%;
}
.landing {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*
.landing h3, h4 {
  color: #fff;
  font-family: "quicksandlight";
  text-transform: uppercase;
  padding: 15px;
  margin: 0.3125rem;

      -webkit-animation: blurFadeIn 5s 5.5s ease-in backwards;
       -moz-animation: blurFadeIn 5s 5.5s ease-in backwards;
         -o-animation: blurFadeIn 5s 5.5s ease-in backwards;
            animation: blurFadeIn 5s 5.5s ease-in backwards;    
}
 @-webkit-keyframes blurFadeIn {
    0%{
        opacity: 0;
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -0-transform: scale(1);
                transform: scale(1);

    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}

.landing h3 
{ 
  font-size: 48px;
}
.landing h3:last-of-type {
  padding: 0;
  letter-spacing: -0.1em;
  font-size: 46px; 
}
.landing h4 {
  font-weight: bold;
  font-size: 36px;
}
.landing a
{   display: block;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.3125rem 1.563rem;
    margin: 0 auto;
    font-size: 2.188rem;
    color: #F8834E;
    z-index: 500;
     -webkit-animation: blurFadeIn 5s 5.5s ease-in backwards;
       -moz-animation: blurFadeIn 5s 5.5s ease-in backwards;
         -o-animation: blurFadeIn 5s 5.5s ease-in backwards;
            animation: blurFadeIn 5s 5.5s ease-in backwards;    
}
 @-webkit-keyframes blurFadeIn {
    0%{
        opacity: 0;
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -0-transform: scale(1);
                transform: scale(1);

    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}
  }

*/


/* Move the viewport and pan the image from left to right */
@-webkit-keyframes bgChange {

  0% {
    background-position: top left;
  }
    
  100% {
    background-position: bottom right;
  }
  
}

/**********************************
HEADER and NAVIGATION
**********************************/
i.fa-chevron-circle-left {
  color: #F8834E;
  padding: 0;
}
i.fa-chebron-circle-left:hover {
  background-color: #2C2f36;
}
.menu-link {
  padding-right: 0;
  transform: translateY(60%);
  font-size: 1rem;
}
header {
  background:  #2C2F36;
  width: 100%;
  height: 3.75rem;

}
header, header a {
  margin: 0;
  color: #F8F9F4;
  max-width: 100%;
}
header h1 {
  display: block;
  float: right;
  font-family: "Mr Bedfort";
  font-size: 2.625rem;
  color: #ded9d4;
  padding: 0.3125rem 0;
  margin: 0 auto;
  line-height: 1.25em;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
}
header hr:first-of-type {
  margin: -15px auto 0.625rem auto;
  width: 75%;
  max-width: 325px;
    border: 0;
    height: 1.1.563rem;
    background-image: -webkit-linear-gradient(left, rgba(116,104,91,0), rgba(116,104,91,0.75), rgba(116,104,91,0)); 
    background-image:    -moz-linear-gradient(left, rgba(116,104,91,0), rgba(116,104,91,0.75), rgba(116,104,91,0)); 
    background-image:     -ms-linear-gradient(left, rgba(116,104,91,0), rgba(116,104,91,0.75), rgba(116,104,91,0)); 
    background-image:      -o-linear-gradient(left, rgba(116,104,91,0), rgba(116,104,91,0.75), rgba(116,104,91,0)); 
}

nav ul {
  display: block;
  list-style-type: none;
  background-color: #74685b;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0.125rem 0.125rem 0.125rem #74685b;
}
nav ul li {
  font-family: "Josefin Sans";
  font-weight: bold;
  display: inline-block;
  padding: 15px 0;
  padding-right: 15px;
}
nav ul li:nth-child(even) {
  display: none;
}
nav ul li:first-of-type {
  padding-right: 0.625rem;
}
nav ul li:last-of-type {
  padding-right: 0;
}
nav ul li a {
  color: #F8F9F4;
  font-size: 1em;
  font-style: bold;
  list-style-type: none;
  letter-spacing: 0.15em;
}
nav ul li a:hover {
  color: #998c7c;
}
.selected {
  color: #F8834E;
}
section.main-section h2 {
  font-family: "Raleway";
  font-weight: 300;
  color: #000;
  background-color: #fff;
  font-size: 2rem;
  padding: 3.125rem 3.75rem;
  letter-spacing: 2.0.3125rem;
  line-height: 56px;
}
section.main-section p {
  font-family: "Raleway";
  font-weight: 300;
  padding: 0px 0.625rem 0.625rem;
  margin: 0 0.625rem;
  text-align: center;
  color: gray;
  letter-spacing: 0.1.563rem;
  
}
p span:first-of-type {
  font-weight: 500;
}
p span:last-of-type {
  color: lightgreen;
}
section.main-section a.lnks {
  font-family: "Raleway";
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  text-align: center;
  border: 0.0625rem solid #000;
  padding: 7.0.3125rem 0;
  margin: 0.625rem 2.188rem;
  letter-spacing: 0.125rem;
}
section.main-section a.lnks:last-of-type {
  padding: 7.0.3125rem 0px;
  margin: 20px 90px;
}
article.portfolio h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.5rem;
  padding-top: 3.125rem;
  letter-spacing: 0.05em;
}
.subtitle {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 0.875rem;
  color: gray;
  margin-top: 40px;
  letter-spacing: 0.05em;
}
ul.folio  {
  list-style-type: none;
}
ul.folio li {
  height: 100%
  width: 100%;
  overflow: hidden;
  position: relative;
}
ul.folio li:first-child {
  margin-top: 2.188rem;
}
.wrap img {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin: 0;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in;
}
.wrap:hover img {
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
}

.folio p {
  text-align: center;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
    -webkit-transform: opacity;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: linear;

    -webkit-transform: background-color: #2C2F36;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in;
    }

.wrap:hover p {
  background-color: #2C2F36;
  opacity: 1;
  color: #fff;
}

.wrap h3 {
  font-family: "Raleway";
  font-weight: normal;
  z-index: 600;
  position: absolute;
  color: transparent;
  height: 100%;
  width: 100%;
  top: 45%;
  padding: 0;
  opacity: 0;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  -webkit-transform: scale(.5);
  
    -webkit-transform: color;
    -webkit-transition-duration: .25s;
    -webkit-transition-timing-function: ease-in;

    -webkit-transform: opacity;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: linear;

    -webkit-transform: scale;
    -webkit-transition-duration: .2s;
    -webkit-transition-delay: .5s;
    -webkit-transition-timing-function: ease-out;
}

.wrap:hover h3 {
  opacity: 1;
  color: #fff;  
  -webkit-transform: scale(1.1);
}
.services li {
  list-style-type: none;
  padding: 3.75rem 0 30px;
}
.services li:nth-of-type(1) {
  background-color: #f2f2f4;
}
.services li:nth-of-type(2) {
  background-color: #313139;
}.services li:nth-of-type(3) {
  background-color: #de5f4c;
}.services li:last-of-type {
  background-color: #f2f2f4;
}
.services li div {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  margin: 0 auto;
  color: #fff;
  font-size: 48px;
  background: #28282e;
  text-align: center;
}
.services li div i {
  transform: translateY(50%);
}
.service h3 {
  margin-bottom: 2rem;
}
.services h4  {
  color: #000;
  padding: 1.5rem;
  font-size: 18px;
  letter-spacing: 0.0625rem;
}
.services p {
  text-align: center;
  margin: 0px 3.75rem;
  letter-spacing: 0.0625rem;
  color: #fff;
  font-weight: lighter;
  padding: 7.0.3125rem;
}
.services p:first-of-type {
  color: #808080;
  font-weight: lighter;
  padding: 7.0.3125rem;
}
.blog ul {
  list-style-type: none;

}
.blog li {


}
.blog img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.blog h3 {
  margin-bottom: 40px;
}
.blog3 {
  padding: 28px 0;
  background-color: #eee;
}
.blog3 h5 {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
}