body {
	background-color: #000;
	height: 100%;
	width: 100%;
	
}
.row {
	background-color: #808080;
	max-width: 90%;
	width: 90%;
	height: 90%;
	max-height: 90%;
	margin: 5% 5% 0 5%;
}

.progress {
	position: relative;
	background-color: #eeeeee;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
.progressbar,
.progressbar2,
.progressbar3,
.progressbar4 {
	background-color: #5a6b7f;
	position: absolute;
	bottom: 0px;
	height: 0;
	width: 100%;
	max-width: 100%;

	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.progressbar {
	-webkit-animation-name: progressCol;
}
.progressbar2 {
	background-color: #de5f4c;

	-webkit-animation-name: progressCol2;
}
.progressbar3 {
	-webkit-animation-name: progressCol3;
}
.progressbar4 {
	-webkit-animation-name: progressCol4;
}

@-webkit-keyframes progressCol {
	0% {
		height: 0;
	}

	100% {
		height: 25%;
	}
}
@-webkit-keyframes progressCol2 {
	0% {
		height: 0;
	}

	100% {
		height: 85%;
	}
}
@-webkit-keyframes progressCol3 {
	0% {
		height: 0;
	}

	100% {
		height: 45%;
	}
}
@-webkit-keyframes progressCol4 {
	0% {
		height: 0;
	}

	100% {
		height: 15%;
	}
}
.row.description {
	background-color: red;
	max-width: 90%;
	width: 90%;
	height: 5%;
	max-height: 5%;
	margin: 0 5% 5% 5%;
}

.desc {
	position: relative;
	background-color: green;
	height: 90%;
	margin: 0 auto;
	padding: auto;
	text-align: center;
	font-size: 16px;
	top: 50%;
	transform: translateY(-50%);
}

